<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="layout.css">
  <title>Document</title>
</head>
<body>
  <div id="root">
    <div>
      <div>
        <h1>BORDERLINE<br>DESIGN</h1>
      </div>
      <div>
        <h2>gooood?</h2>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia nemo impedit fugiat quisquam dicta aspernatur explicabo necessitatibus reprehenderit sit veniam expedita itaque facere exercitationem autem repudiandae ratione placeat doloribus excepturi consectetur ad quod hic omnis! Iste enim asperiores, deleniti tenetur, debitis neque labore vitae dignissimos pariatur omnis nostrum provident exercitationem et ex doloremque blanditiis? Asperiores libero, fugiat obcaecati nobis deleniti cupiditate commodi voluptatum ut distinctio quo assumenda velit </p>
      </div>
    </div>
    
    <div>
      <div>
        <h3>MODERN<br>DESIGN</h3>
      </div>
      <div>
        <p>lorem Ipsum</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, praesentium corrupti porro veritatis dolore tenetur totam earum officiis mollitia, iure, fugiat tempore fuga corporis sed ut rem illum. Unde labore neque, aliquid molestiae, autem laborum natus enim culpa error exercitationem, corrupti laudantium libero saepe odio expedita dolorum placeat accusantium. Quia dolore numquam natus quaerat cum at voluptatum vero officia. Magnam eligendi consequatur eveniet doloremque quia voluptas distinctio amet, dolorem vero corrupti fugiat maiores ipsam unde exercitationem eos incidunt nihil soluta?</p>
      </div>
    </div>




  </div>
</body>
</html>